# Directories #
/bin/*
target/*
dbflute_cb-batch/log/


# OS Files #
.DS_Store

*.class

# Package Files #
*.jar
*.war
*.ear
*.db
*.log
*.pyc
src/main/resources/application.properties
src/main/resources/dataSource.properties
src/main/resources/logback.xml
src/main/resources/spring/dynamoDb.properties
src/dev/resources/spring/dynamoDb.properties

######################
# Windows
######################

# Windows image file caches
Thumbs.db

# Folder config file
Desktop.ini

######################
# OSX
######################

.DS_Store
.svn

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes


######################
# Eclipse Intellij
######################

# *.pydevproject
.project
# .metadata
# bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
# local.properties
.classpath
.settings/
.idea/*
*.iml

# .loadpath
# /src/main/resources/rebel.xml
#  External tool builders
# .externalToolBuilders/

# Locally stored "Eclipse launch configurations"
# *.launch

# CDT-specific
# .cproject

# PDT-specific
# .buildpath

/bin/
/target/
